html,
body {
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  background-image: url(bg/SVG/background.svg);
  background-repeat: no-repeat;
  background-position-y: 0;
  background-position-x: 60vw;
  background-size: 63%;
}

/* HOME */

.menu.action {
  transition: 0.3s;
  position: fixed;
  background-color: #e6e7e7;
}

.menu {
  z-index: 3;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.menu a {
  font-size: 1.5vw;
}
/* .menu a:hover {
  bottom: 0;
  top: 0;
  margin: 0;
  transition: 0.2s;
  background-color: #b4a6d1;
  color: #fff;
} */

.language_menu a {
  text-decoration: none;
  color: #6c68ac;
}
.language_menu {
  margin-right: 3vw;
}
.main_menu {
  margin-left: 6vw;
}

.main_menu a {
  text-decoration: none;
  padding-inline: 10px;
  color: #6c68ac;
}

.home_page {
  margin: 0;
}

a:hover {
  text-decoration: underline;
}

.icon_1_descrip {
  padding-left: 38%;
}

.icon_1_bio {
  width: auto;
  display: flex;
  justify-content: center;
}

.icon_1 {
  cursor: pointer;
  padding-left: 8vw;
  position: relative;
  width: 2.5vw;
  animation-name: icone;
  animation-duration: 0.6s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.icon_1 img {
  width: 2.5vw;
}

.presentation {
  justify-content: center;
}

.line_container {
  display: flex;
  position: relative;
  padding-left: 15vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* <!-- APRESENTAÇÃO --> */

.total_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.my_photo {
  position: relative;
  padding-top: 15px;
}

.photo {
  width: 96%;
}

.my_photo_div {
  position: relative;
  width: 60%;
}

.my_text h1 p {
  z-index: 1;
}

.my_text a {
  z-index: 1;
}

.my_text {
  margin-right: 5vw;
  z-index: 1;
  font-size: 1.7vw;
  color: #e6e7e7;
  position: absolute;
}

.short_description {
  /* padding-right: 40vw; */
  color: #6c68ac;
  font-size: 1.3vw;
}

.icons_social_media {
  z-index: 1;
  justify-content: center;
  display: flex;
  align-items: center;
}

.abreviation {
  margin-top: -1vw;
  display: flex;
  justify-content: space-between;
  margin-left: 6vw;
  margin-right: 6.1vw;
  align-items: center;
}

.contate {
  /* width: 150px; */
  position: relative;
  text-decoration: none;
  text-align: center;
  font-size: 1.6vw;
  color: rgb(108, 104, 172);
}

.contate a:hover {
  text-decoration: 1px underline;
}

.line {
  border-left: solid #6c68ac 1px;
  position: relative;
  display: block;
  height: 19vw;
  margin-bottom: 5%;
  margin-top: -7vw;
}

.line_2 {
  margin-top: 5%;
  border-left: solid #6c68ac 1px;
  position: relative;
  display: block;
  height: 15vw;
}

.icon_2_git {
  width: 3vw;
  padding-right: 5px;
}

.icon_2_linkedin {
  width: 3vw;
  padding-right: 5px;
}

.icon_2_behance {
  width: 3vw;
}

.icons_social_media img {
  transition: 0.2s;
}

.icon_5 {
  display: flex;
  text-align: center;
  color: #6c68ac;
  font-size: 2vw;
}

/* 
<!-- APRESENTAÇÃO FIM --> */

/* BIO */

.bio {
  margin-top: 5vw;
  position: relative;
}

.all_bio {
  margin-left: 6vw;
  margin-right: 8vw;
  justify-content: space-between;
  display: flex;
}

.description_about_me {
  margin-right: 5%;
  width: 50%;
}

.photos {
  margin-top: -6vw;
  width: 35%;
}

.photos img {
  width: 300px;
  display: block;
}

.photo_2 {
  padding-left: 90px;
  padding-top: -1500px;
  margin-top: -91px;
}

.photo_3 {
  margin-top: -60px;
}

.description_about_me p {
  padding-right: 2%;
  color: #6c68ac;
  line-height: 2rem;
  font-size: 1.3rem;
  text-align: justify;
  overflow: auto;
  height: 400px;
}

.bio > .title_bio {
  width: 100%;
  font-size: 1.5vw;
  color: #6c68ac;
}

.bio > .title_bio h1 {
  margin-left: 6vw;
  text-align: left;
}

/* BIO SCROLL*/

.bio ::-webkit-scrollbar-track {
  background-color: #b4a6d1;
}

.bio ::-webkit-scrollbar {
  height: 100px;
  padding-top: 10%;
  width: 0.8vw;
  background: #6c68ac;
}

.bio ::-webkit-scrollbar-thumb {
  width: 50%;
  border-radius: 1.5vw;
  background: #6c68ac;
}

.icon_2 {
  position: relative;
  width: 3vw;
}

.wip {
  justify-content: center;
  font-size: 1vw;
  text-align: center;
  color: red;
}

.experience {
  align-items: center;
  display: flex;
  justify-content: center;
}

.bg_exp img {
  width: 60vw;
}

.bg_exp_section {
  margin: 0;
  width: 100%;
}

.icon_4 {
  cursor: pointer;
  width: 2.8vw;
}

.empresas_list_section section {
  padding-bottom: 1vw;
  font-size: 1.5vw;
  font-weight: bold;
  color: #6c68ac;
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-right: 5vw;
  align-items: center;
}

.empresas_list_section section li {
  font-size: 3vw;
  font-weight: bold;
  text-align: end;
  padding-right: 2vw;
}

.exp_p h1 {
  font-size: 3vw;
  padding-top: 2vw;
  text-align: center;
  color: #6c68ac;
}

.experiencia_all {
  margin-top: 3vw;
}

.text_box {
  line-height: 2vw;
  color: aliceblue;
  position: absolute;
  overflow-y: auto;
  width: 40vw;
  height: 23vw;
  margin-left: 10%;
  margin-top: 6%;
  /* margin: 6vw; */
}

.text_box p {
  line-height: 1.6em;
  font-size: 1.6vw;
  margin-right: 1.5vw;
  text-align: justify;
}

.empresas_list_section {
  width: 30vw;
}

.text_box h1 {
  font-size: 3vw;
  font-weight: bold;
}

/* EXP SCROLL*/

.bg_exp_section ::-webkit-scrollbar-track {
  background-color: #b4a6d1;
}

.bg_exp_section ::-webkit-scrollbar {
  height: 100px;
  padding-top: 10%;
  width: 0.8vw;
  background: #6c68ac;
}

.empresas_list_section li {
  cursor: pointer;
  transform: rotate();
}

.bg_exp_section ::-webkit-scrollbar-thumb {
  width: 50%;
  border-radius: 1.5vw;
  background: #6c68ac;
}

.empresas_list p {
  text-align: justify;
}

.container {
  background-color: #6c68ac;
}

[name="section_text"] p {
  display: none;
}

[name="textBoxHide"] {
  display: none;
}

/* *
*
*
*
*
*
* */
/* FOOTER */

.footer_main {
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0;
}

footer {
  height: auto;
  width: 100%;
  background-color: #e6e7e7;
}

.both {
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}

footer a {
  padding: 1vw;
  padding-inline: 0.6vw;
  font-size: 1.6vw;
  text-decoration: none;
  color: #6c68ac;
}
/* *
*
*
*
*
*
*
*
*
*
*
*
* */

/* Skills */

.formacao {
  margin-top: 6vw;
  justify-content: space-between;
  display: flex;
}
.academica {
  margin-left: 7vw;
  margin-right: 1vw;
  width: 100%;
  /* border: .1px solid grey; */
}
.academica h1 {
  color: #6c68ac;
}
.academica {
  font-size: 1.3rem;
  color: #59595b;
}

.academica h3 {
  font-size: 0.8em;
  padding: 0;
  margin: 0;
  margin-left: 0.6rem;
}
.academica p {
  font-size: 1vw;
  padding-bottom: 0.4em;
  margin: 0;
  margin-left: 0.6rem;
}
.certificacao {
  display: block;
  margin-left: 7vw;
  margin-right: 3vw;
  margin-top: 1vw;
  font-weight: bold;
  font-style: normal;
  color: #6c68ac;
}
.certificacao h1::after {
  content: "";
  margin-top: 1vw;
  display: block;
  width: 35vw;
  height: 1.2px;
  background-color: currentColor;
}
.scrumCert {
  align-items: center;
  margin-left: 1vw;
  display: flex;
}
.scrumCert p {
  margin-left: 2vw;
}
.academica_cursos {
  margin-top: 0.4rem;
}
.academica_cursos h1 {
  font-size: 1.2em;
}
.skills {
  text-align: center;
  width: 100%;
  margin-right: 7vw;
  margin-left: 1vw;
  /* border: 1px solid grey;  */
}
.skills h1 {
  color: #6c68ac;
}
.barrs {
  display: flex;
}
.barrs h3 {
  padding-top: 3vw;
  font-weight: bold;
  color: #59595b;
  text-align: center;
}
.barrs li {
  text-align-last: end;
  font-weight: lighter;
  color: #59595b;
  margin-right: 2vw;
  width: 50%;
  list-style-type: none;
}
.skills_left {
  width: 50%;
}
.skills_right {
  width: 50%;
}
.programming_skills {
  width: 100%;
  text-align: end;
  /* border: 1px solid grey; */
}
.barrs span {
  padding-top: 1.2vw;
  align-items: center;
  display: flex;
}
.barrs a {
  border-radius: 10px;
  height: 10px;
  width: 1%;
  background-color: #6c68ac;
}
.barrs a::after {
  padding-top: 5px;
  content: "";
  margin-left: 8.4vw;
  border-right: 1px solid #6c68ac;
}
.barrs a::before {
  padding-top: 6px;
  content: "";
  margin-left: 0vw;
  border-right: 1px solid #6c68ac;
}

.barrs ul {
  padding: 0;
  margin: 0;
}
.language_skills {
  text-align: end;
  /* border: 1px solid grey; */
}
.design_skills {
  text-align: end;
  /* border: 1px solid grey; */
}
.soft_skills {
  text-align: end;
  /* border: 1px solid grey; */
}

/* *
*
*
*
*
*
*
*
* */
/* BURGUER MENU  */

.burguer-menu {
  display: none;
}

/* *
*
*
*
*
*
*
*
*
*
*
* */
@media only screen and (max-width: 800px) {
  html {
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    background-position-y: 0;
    background-position-x: 0vw;
    background-size: 100%;
  }
  .menu {
    display: none;
  }

  .burguer-menu {
    z-index: 9;
    position: fixed;
    display: block;
  }
  .burguer-divs {
    float: right;
  }
  .spanMenu {
    width: 300px;
    background-color: #6c68ac;
    float: left;
  }
  .spanMenu ul {
    list-style-type: none;
    padding-top: 5vw;
  }
  .spanMenu a {
    text-decoration: none;
    color: #e6e7e7;
  }
  .spanMenu li {
    padding-top: 3vw;
  }
  .spanMenu p {
    cursor: pointer;
    justify-content: center;
    font-size: x-large;
    height: auto;
    border: 1px solid #e6e7e7;
    margin-right: 3vw;
    text-align: center;
    color: #e6e7e7;
  }

  .burguer-menu div {
    margin-top: 0.4vw;
    border-radius: 5px;
    width: 2.25em;
    height: 1.25vh;
    background-color: #6c68ac;
  }
  /* *
*
*
*
*
*
*
*
*
*
*
* */

  .bioClass {
    display: none;
  }
  .btn_exp {
    display: none;
  }
  .expClass {
    display: none;
  }
  .formacao {
    display: block;
  }
  .call_action {
    display: none;
  }
  .barrs a::after {
    content: "";
    padding-top: 5px;
    margin-left: 20vw;
    border-right: 1px solid #6c68ac;
  }
  .barrs a::before {
    padding-top: 6px;
    content: "";
    margin-left: 0vw;
    border-right: 1px solid #6c68ac;
  }
  .barrs span {
    padding-top: 4vw;
  }
  .skills{
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
  }
  .academica p{
    font-size: 0.8rem;
  }
  .academica h1{
    font-size: 1rem;
  } 
  .academica h3{
    font-size: 1rem;
  } 
  
}
