html,
body {
  height: 0%;
  margin: 0;
  background-image: url("bg/SVG/background.svg");
  background-repeat: no-repeat;
  background-position: 10%;
  background-position-x: 700px;
  background-size: 100%;
}

/* HOME */
.menu {
  padding-top: 15px;
  margin: 0;
  display: flex;
}
.language_menu {
  padding-left: 35%;
  margin: 0;
  position: relative;
}
.language_menu a {
  margin: 0;
  text-decoration: none;
  font-size: 14pt;
  color: #6c68ac;
}
.main_menu a {
  text-decoration: none;
  font-size: 14pt;
  padding-inline: 10px;
  color: #6c68ac;
}
.main_menu {
  margin: 0px;
  margin-left: 150px;
}
.home_page {
  padding-top: 0%;
  margin: 0;
}
a:hover {
  text-decoration: underline;
}
.icon_1_descrip{
  padding-left: 38%;
}
.icon_1_bio{
  width: auto;
  display: flex;
  justify-content: center;
}

.icon_1 {
  position: relative;
  width: 30px;
  animation-name: icone;
  animation-duration: 0.6s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.icon_1 img {
  width: 30px;
}

.line_container {
  display: flex;
  position: relative;
  width: 35%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* 
<!-- APRESENTAÇÃO --> */

.total_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.my_photo {
  padding-top: 15px;
}

.photo {
  width: 100%;
}

.my_photo_div {
  position: relative;
  width: 65%;
}
.my_text h1 p {
  z-index: 1;
}
.my_text a {
  z-index: 1;
}
.my_text {
  z-index: 1;
  font-size: 2vw;
  color: #e6e7e7;
  position: absolute;
}
.short_description {
  padding-right: 28%;
  color: #6c68ac;
  font-size: 110%;
  margin: 0;
}
.abreviation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.contate {
  width: 150px;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-size: 18pt;
  color: rgb(108, 104, 172);
}
.contate a:hover {
  text-decoration: 1px underline;
}

.line {
  margin-top: 1%;
  border-left: solid #6c68ac 1px;
  position: relative;
  display: block;
  height: 210px;
  margin-bottom: 5%;
}
.line_2 {
  margin-top: 5%;
  border-left: solid #6c68ac 1px;
  position: relative;
  display: block;
  height: 220px;
}

.icon_2_git {
  width: 35px;
  padding-right: 5px;
}

.icon_2_linkedin {
  width: 35px;
  padding-right: 5px;
}
.icon_2_behance {
  width: 55px;
}
/* 
<!-- APRESENTAÇÃO FIM --> */

/* BIO */
.bio {
  position: relative;
}
.all_bio{
justify-content: center;
display: flex;

}
.description_about_me{
  margin-right: 5%;
  width: 50%;
}
.photos img{
  width: 280px;
  display: block;
}
.photo_2{
    padding-left: 90px;
    padding-top: -1500px;
    margin-top: -91px;
}
.photo_3{
  margin-top: -60px;
}
.description_about_me p {
  line-height: 1.6;
  padding-right: 2%;
  color: #6c68ac;
  font-size: 14pt;
  text-align: justify;
  overflow: auto;
  height: 500px;
}
.bio > .title_bio {
  width: 100%;
  font-size: 1.5vw;
  color: #6c68ac;
}
.bio > .title_bio h1{
  text-align: center;
}
/* BIO SCROLL*/

.bio ::-webkit-scrollbar-track {
  background-color: #b4a6d1;
}
.bio ::-webkit-scrollbar {
  height: 100px;
  width: 8px;
  background: #6c68ac;
}
.bio ::-webkit-scrollbar-thumb {
  width: 50%;
  border-radius: 25px;
  background: #6c68ac;
}

.icon_2 {
  position: relative;
  width: 30px;
}
.wip {
  text-align: center;
  color: red;
  font-size: larger;
}
/* FOOTER */
footer {
  
  margin: 0;
  width: 100%;
  background-color: #e6e7e7;
}

.both {
  align-items: center;
  justify-content: center;
  display: flex;
}

footer a {
  padding: 10px ;
  padding-inline: 15px;
  font-size: 14pt;
  text-decoration: none;
  color: #6c68ac;
}

.wip{
  justify-content: center;
}

/* RESPONSIVIDADE  */
